/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";
@import "tailwindcss";

@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background flex justify-center relative;
  }

  button {
    @apply bg-primary-dark w-full text-white font-semibold py-2 px-4 rounded shadow hover:bg-primary-light transition duration-200 ease-in-out cursor-pointer;
  }

  main {
    @apply bg-primary-light text-white p-4 rounded-lg shadow-lg;
  }

  label {
    @apply block text-sm font-medium mb-2;
  }

  input,
  select {
    @apply w-full bg-input-background rounded mb-2 p-2 focus:outline-none focus:ring-2 focus:ring-primary-light;
  }

  section {
    @apply p-6 max-w-[480px] w-screen bg-transparent shadow;
  }
}

.messages-container {
  display: flex;
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 20px;
  font-family: Roboto;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}

.selected-category {
  @apply bg-primary-light text-white;
}

.category-item {
  width: calc(25% - 0.5rem);
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
